---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
import Features from '../components/Features.tsx';
import FAQ from '../components/FAQ.tsx';
import Footer from '../components/Footer.tsx';
import Comparison from '../components/Comparison.tsx';
import Stats from '../components/Stats.tsx';
import Process from '../components/Process.tsx';
import Logos from '../components/Logos.tsx';
import PS from '../components/PS.tsx';
import PS2 from '../components/PS2.tsx';
import TechStack from '../components/TechStack.tsx';
import {Image} from 'astro:assets';
import Testimonials from '../components/Testimonials.tsx';
import Technologies from '../components/Technologies.tsx';
import CTA2 from '../components/CTA2.tsx';
import Problems from '../components/Problems.tsx';
import Statement from '../components/Statement.tsx';
import manAtDesk from '../assets/nachdenklicher-mann-an-schreibtisch.jpg';
import womanAtDesk from '../assets/frau-am-schreibtisch.jpg';
import talentNetwork from '../assets/talent-network.jpg';
import techStack from '../assets/tech-stack.jpg';
import teamSuccess from '../assets/team-success.jpg';
import painPoints from '../assets/pain-points.svg';
import hiringTechnologies from '../assets/hiring-technologies.png';
import talentLinxLogo from '../assets/talentlinx-logo.png';
import berlin from '../../public/assets/berlin-germany-alexanderplatz-tv-tower-after.jpg'
import * as hero from '../../content/hero.md';
import * as features from '../../content/features.md';
import * as problems from '../../content/problems.md';
import * as process from '../../content/process.md';
import * as technologies from '../../content/technologies.md';
import * as diagram from '../../content/diagram.md';
import * as comparison from '../../content/comparison.md';
import * as statement from '../../content/statement.md';
import * as conferences from '../../content/conferences.md';
import * as testimonials from '../../content/testimonials.md';
import * as cta from '../../content/cta.md';
import * as faq from '../../content/faq.md';
import * as ps_section from '../../content/ps_section.md';
import * as footer from '../../content/footer.md';
import * as metadata from '../../content/metadata.md';
import * as quote from '../../content/quote.md';
---

<Layout title={metadata.frontmatter.title} description={metadata.frontmatter.description}>
    <main>
        <Hero content={hero} metadata={metadata} client:load>
            <Image src={talentLinxLogo} alt="TalentLinx Logo" style="max-height: 32px; height: auto; width: auto;"/>
        </Hero>
        <Features features={features} client:load>
            <Image src={painPoints} alt="Pain points"/>
        </Features>
        <Problems problems={problems} client:load>
            <Image src={womanAtDesk} alt="Woman at desk working overtime"/>
        </Problems>
        <Process process={process} metadata={metadata} client:load/>
        <Technologies diagram={diagram} metadata={metadata} client:load>
            <Image src={hiringTechnologies} alt="Hiring technologies"/>
        </Technologies>
        <Comparison comparison={comparison} metadata={metadata} client:load/>
        <Testimonials testimonials={testimonials} metadata={metadata} client:load/>
        <Statement statement={statement} client:load/>
        <Stats statement={statement} client:load/>
        <TechStack technologies={technologies} client:load>
            <Image src={techStack} alt="Tiles with logos of many different web technologies"/>
        </TechStack>
        <Logos conferences={conferences} client:load/>
        <CTA2 cta={cta} metadata={metadata} client:load/>
        <FAQ faq={faq} client:load/>
        <PS2 quote={quote}/>
        <Footer footer={footer} client:load/>
    </main>
</Layout>